body {
    background-color: rgb(175, 126, 159);
}

 input {
        display: flex;
        font-family: 'Courier New', Courier, monospace;
      }

input::placeholder{
          color: black; 
      }
      

button {
        background-color: rgb(126, 67, 106);
        color: rgb(197, 82, 207);
        font-size: 10px;
      }
      
button:hover {
        opacity: 0.8;
      }


.value-cell {
    display: inline-block;
    min-width: 2%;

}

.row-column-names {
    display: flex;
    justify-content: space-around;
    

}

.login-f {
    display: inline-block;
}

.logout {
    display: flex;
    
  }

