body {
    background-color: rgb(29, 139, 53);
}

.info-text {
    background-color: aquamarine;
}

.value-cell {
    display: inline-block;
    min-width: 2%;


}

.row-column-names {
    display: flex;
    justify-content: space-around;
}

.login-f {
    display: inline-block;
}
